{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_get_artist_count', {
        artistName: $('input[name="artistName"]').val(),
      }, function(data) {
        $('#artistCount').text(data.result);
        $('input[name=artistName]').focus().select();
      });
      return false;
    };

    $('a#search').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>

<script type="text/javascript">
  $(function() {

	
   var submit_form = function(e) {
	var w = 700
	var h = 0.618 * w
	var padding = 60
	
	d3.select("svg").remove()
	
    var svg = d3.select('div[id="artistplot"]')
			.append("svg")
			.attr("id", "artistPlot")
			.attr("width", w)
			.attr("height",h);
	
	var date_format = d3.time.format("%Y-%m-%d");
	var composition_date_format = d3.time.format("%Y")
	
	var auction_dateFn = function(d){return date_format.parse(d.auctionDate)}
	var auction_priceFnEUR = function(d){return d.priceEUR}
	var auction_priceFn = function(d){return d.priceUSD}
	var artTitle = function(d){return d.artTitle}
	var compositionDate = function(d){
		try {
			return  composition_date_format.parse(d.date)
			}
		catch(err) {
			return composition_date_format.parse("0000");
		}
	}
      $.getJSON($SCRIPT_ROOT + '/_get_artist_data', {
        artistName: $('input[name="artistName"]').val(),
      }, function(data) {
		  var x = d3.time.scale()
		  	.range([padding, w - padding])
		  	.domain(d3.extent(data.result, auction_dateFn)).nice();

		  var y = d3.scale.linear()
			.range([h - padding, padding])
			.domain(d3.extent(data.result, auction_priceFn)).nice();
			
		  var xAxis = d3.svg.axis().scale(x).orient("bottom");
		  var yAxis = d3.svg.axis().scale(y).orient("left");

		  
		  svg.selectAll("circle").data(data.result)
			.enter()
			.append("svg:circle")
			.attr("r",4)
			.attr("cx", function(d) { return x(auction_dateFn(d)) })
			.attr("cy", function(d) { return y(auction_priceFn(d)) })
			.append("title").text(artTitle);
			
		  //svg.selectAll("text").data(data.result)
			//.enter()
			//.append("text")
			//.text(artTitle)
			//.attr("x", function(d) { return x(auction_dateFn(d)) })
			//.attr("y", function(d) { return y(auction_priceFn(d)) });
			

			
		  svg.append("text")
			.attr("id", "x_label")
			.attr("text-anchor", "end")
			.attr("x", w/2 + padding)
			.attr("y", h)
			.text("Auction Date");
			
		  svg.append("text")
			.attr("id", "y_label")
			.attr("text-anchor", "middle")
			.attr("x", padding)
			.attr("y", padding - 5)
			.text("Price (USD)");
			
		  svg.append("g")
			.attr("class", "y axis")
			.attr("transform", "translate(" + (padding - 10) + ", 0)")
			.call(yAxis);
          
          svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + (h - padding + 10) + ")")
			.call(xAxis);	
			
		  var trans_ms = 700;		
		  d3.select("svg").on("click", function() {
			 if(d3.select("#x_label").text() == "Auction Date") {
				 
				 x.domain(d3.extent(data.result, compositionDate)).nice();
				 svg.selectAll("circle").data(data.result)
					.transition()
					.duration(trans_ms)
					.attr("cx", function(d){ return x(compositionDate(d)) });
				
				 svg.select(".x.axis")
					.transition()
					.duration(trans_ms)
					.call(xAxis);
				d3.select("#x_label").transition().text("Composition Year");
			 } else {
				x.domain(d3.extent(data.result, auction_dateFn)).nice();
				svg.selectAll("circle").data(data.result)
					.transition()
					.duration(trans_ms)
					.attr("cx", function(d){ return x(auction_dateFn(d)) });
				
				svg.select(".x.axis")
					.transition()
					.duration(trans_ms)
					.call(xAxis);
				d3.select("#x_label").transition().text("Auction Date");
			 }
		  });
      });
      return false;
    };

    $('a#search').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>

<h1>ArtSift 0.0.1</h1>
<p>
  <input type="text" size="40" name="artistName"><br>
  <span id="artistCount">?</span>
<p><a href=# id="search">search artist</a>
<div id="artistplot"></div>
{% endblock %}
